<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    {% block styles %} {% endblock %}
    {% block scripts %} {% endblock %}
</head>

<body>
<header>
    {% block header %}
    {% endblock %}
</header>

<main>
    <div class="content">{% block content %}{% endblock %}</div>
</main>

<footer>
    {% block footer %}
    {% endblock %}
</footer>
</body>

</html>
